.type-menu {
    .entry-content {
        table {
            margin-bottom: 0;
        }
    }

    .entry-header {
        table {
            width: 100%;
        }

        .subtitle {
            padding-right: 15px;
            text-align: right;
        }

        h2.entry-title {
            font-size: 14px;
        }
    }
}

.menu-category {
    margin-bottom: 30px;

    &:last-of-type {
        margin-bottom: 80px;
    }

    table, tr, td, th, tr:nth-child(even) {
        border: none;
        background: transparent;
    }

    h3 {
        margin: 28px 0 15px;
    }

    .menu-category-title {
        text-align: center;
        font-size: 28px;
        font-weight: bold;

        span {
            position: relative;

            &:after {
                border-bottom: 2px solid #ffa600;
                border-top: 2px solid #00897b;
                top: 15px;
                content: '';
                position: absolute;
                height: 4px;
                width: 22px;
                right: -30px;
                transform: rotate(-65deg) skewX(-25deg);
            }
        }
    }

    .menu-category-content {

    }

    .menu-items {
        td, th {
            padding: 0;
        }

        .menu-row {
            overflow: hidden;
            min-height: 103px;

            &.wine-row {
                min-height: 0;

                table {
                    min-height: 42px;
                    margin: 12px 0 20px;
                }
            }

            table {
                margin: 20px 0 15px;
                min-height: 75px;
            }

            .menu-item {
                position: relative;

                &:after {
                    border-bottom: 1px dashed #d0d1d4;
                    position: absolute;
                    bottom: 0;
                    content: '';
                    left: 10px;
                    right: 5%;
                }

                &:last-of-type:not(:first-of-type) {
                    &:after {
                        left: 5%;
                        right: 10px;
                    }
                }

                .name {
                    h4 {
                        font-size: 19px;
                        font-weight: bold;
                        margin: 0;
                        text-align: left;
                    }
                }

                .price {
                    color: #ffa600;
                    font-size: 22px;
                    font-weight: bold;
                    width: 20%;
                    max-width: 150px;
                    text-align: center;
                    vertical-align: middle;
                    padding-left: 8px;

                    small {
                        display: block;
                        font-size: 11px;
                        line-height: 4px;
                        color: #6c6f79;
                    }
                }

                .description {
                    text-align: left;
                    font-size: 13px;
                    color: #6c6f79;
                }

                + .menu-item {
                    padding: 0 0 0 25px;
                }
            }
        }
    }
}