.use-mobile {
    header.header {
        background: #00897b;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    }

    #content {
        margin-top: 0;
    }

    #mobile-nav-menu-container {
        background: #eff3f6;
        width: 200px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: -200px;
        z-index: 4;
        transition: left 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        box-shadow: none;
    }

    #mobile-nav-menu {
        padding: 16px;
    }
}

#content {
    section.entry-content {
        position: relative;
        padding-top: 56px;

        .social-icons {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
}

.type-menu {
    .food-icon-container {
        text-align: left;
    }
}

.social-icons {
    width: 100%;
    display: table;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
    z-index: -1;

    .social-icon {
        vertical-align: top;
        border-right: 1px solid #d0d1d4;
        display: table-cell;

        img {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 0;
            padding: 0;
        }

        a {
            transition: opacity 0.2s ease-in-out;
            display: block;
            height: 40px;
            text-align: center;
        }

        a:hover {
            opacity: 0.8;
        }

        &.first {
            a {
                border-radius: 1px 0 0 0;
            }
        }

        &.last {
            border-right: none;
            a {
                border-radius: 0 1px 0 0;
            }
        }

        &.facebook {
            a {
                background: none #3b5998;
            }
        }

        &.tripadvisor {
            a {
                background: none #6ba044;
            }
        }

        &.google {
            a {
                background: none #dd4c40;
            }
        }

        &.yelp {
            a {
                background: none #be2e24;
            }
        }
    }
}

body {
    background: none #cdebf3;
    padding-top: 66px;

    &:after,
    &:before {
        background: none transparent;
    }
}

#nav-trigger-label,
header.header,
#container {
    left: 0;
    transition: left 0.2s ease-in-out;
}

header.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

#nav-trigger-label {
    position: fixed;
    left: 15px;
    top: 16px;
    z-index: 4;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

#nav-trigger-td {
    width: 40px;
}

#nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

#nav-trigger:checked + #nav-trigger-label {
    left: 215px;
}

#nav-trigger:checked ~ #mobile-nav-menu-container {
    left: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

#nav-trigger:checked ~ #container {
    left: 200px;
    //box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);

    header.header {
        left: 200px;
    }
}

#container header.container,
.home #content.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
    max-width: none;
}

.menu-category {
    .menu-items {
        .menu-row {
            .menu-item {
                &:after {
                    right: 10px;
                }

                &:last-of-type:not(:first-of-type) {
                    &:after {
                        left: 10px;
                    }
                }
            }
        }
    }
}

#mobile-nav {
    width: 100%;

    #logo {
        margin: 0;
        text-align: left;
        line-height: normal;
        padding: 14px 5px 13px;
        font-size: 100%;

        a {
            display: inline-block;
            color: #FFF;
            font-size: 24px;
        }
    }
}

.operating-hours {
    &.small {
        background: #000 url("../images/bg_hours-o.jpg") no-repeat 0 0;
        background-size: auto 100px;
        height: 100px;
        margin: 0 0 8px;
        min-height: 0;
    }

    &.large {
        padding: 16px 24px;
        margin: 8px 0 0;
        background: none #FFF;
        color: $text-color;
        text-align: center;

        .address,
        .tel {
            font-size: 15px;
            font-weight: bold;
        }
    }
}

.home {
    .menu-buttons-container {
        .menu-buttons {
            overflow: hidden;
            border-radius: 1px;
            box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
        }

        a {
            padding: 8px;
            font-size: 16px;
            background: #FFF;
            text-transform: uppercase;
            text-decoration: none;
            float: left;

            &.action-wine {
                border-left: 1px solid #C3C3C3;
            }

            &.action-dinner {
                border-left: 1px solid #C3C3C3;
            }
        }
    }
}

body {
    min-height: 650px;
}
