.use-mobile {
    header.header {
        background: #00897b;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    }

    #content {
        margin-top: 0;
    }

    #mobile-nav-menu-container {
        background: #eff3f6;
        width: 200px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: -200px;
        z-index: 4;
        transition: left 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        box-shadow: none;
    }

    #mobile-nav-menu {
        padding: 16px;
    }
}

body {
    background: none #cdebf3;
    padding-top: 66px;

    &:after,
    &:before {
        background: none transparent;
    }
}

#nav-trigger-label,
header.header,
#container {
    left: 0;
    transition: left 0.2s ease-in-out;
}

header.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#nav-trigger-label {
    position: fixed;
    left: 15px;
    top: 16px;
    z-index: 4;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

#nav-trigger-td {
    width: 40px;
}

#nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

#nav-trigger:checked + #nav-trigger-label {
    left: 215px;
}

#nav-trigger:checked ~ #mobile-nav-menu-container {
    left: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

#nav-trigger:checked ~ #container {
    left: 200px;
    //box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);

    header.header {
        left: 200px;
    }
}

#container header.container,
.home #content.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
    max-width: none;
}

.menu-category {
    .menu-items {
        .menu-row {
            .menu-item {
                &:after {
                    right: 10px;
                }

                &:last-of-type:not(:first-of-type) {
                    &:after {
                        left: 10px;
                    }
                }
            }
        }
    }
}

#mobile-nav {
    width: 100%;

    #logo {
        margin: 0;
        text-align: left;
        line-height: normal;
        padding: 14px 5px 13px;
        font-size: 100%;

        a {
            display: inline-block;
            color: #FFF;
            font-size: 24px;
        }
    }
}

.operating-hours {
    &.small {
        background: #000 url("../images/bg_hours-o.jpg") no-repeat 0 0;
        background-size: auto 150px;
        height: 150px;
        margin: 8px 0 30px;
        min-height: 0;
    }

    &.large {
        border-radius: 1px 1px 0 0;
        padding: 16px 24px;
        margin-bottom: 8px;
        background: none #FFF;
        color: $text-color;
        text-align: center;

        .address,
        .tel {
            font-size: 15px;
            font-weight: bold;
        }
    }
}

.home {
    .menu-buttons {
        a {
            display: block;
            padding: 8px;
            font-size: 20px;
        }
    }
}