.content-container {
    border-radius: 4px;
    background: #FFF;
    padding: 35px 15px 25px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;

    &.decorated {
        &:before,
        &:after {
            border-top: 2px solid #ffa600;
            border-bottom: 2px solid #00897b;
            top: 3px;
            content: '';
            position: absolute;
            height: 3px;
            width: 30px;
        }

        &:before {
            right: -8px;
            transform: rotate(45deg);
        }

        &:after {
            left: -8px;
            transform: rotate(-45deg);
        }
    }
}